@{
    var ControllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<ul class="d-menu-list">
    <li class="@(ControllerName == "Dashboard" ? "active" : "")">
        <img src="~/assets/icon/dashboard.png" />
        @Html.ActionLink("Trang quản lý", "Index", "Dashboard")
    </li>
    <li class="@(ControllerName == "Post" ? "active" : "")">
        <img src="~/assets/icon/report.png" />
        @Html.ActionLink("Quản lý bài viết", "Index", "Post")
    </li>
    <li class="@(ControllerName == "Category" ? "active" : "")">
        <img src="~/assets/icon/document-online.png" />
        @Html.ActionLink("Quản lý chuyên mục", "Index", "Category")
    </li>
    <li class="@(ControllerName == "Fund" ? "active" : "")">
        <img src="~/assets/icon/dic-employee.png" />
        @Html.ActionLink("Hoạt động gây quỹ", "Index", "Fund")
    </li>
    <li class="@(ControllerName == "Setting" ? "active" : "")">
        <img src="~/assets/icon/setting.png" />
        @Html.ActionLink("Thiết lập trang chủ", "Index", "Setting")
    </li>
</ul>