@{
    var ControllerName = ViewContext.RouteData.Values["controller"].ToString();
}

<ul class="d-menu-list">
    <li class="@(ControllerName == "Dashboard" ? "active" : "")">
        <i class="mx-3 fas fa-chart-area"></i>
        @Html.ActionLink("Trang quản lý", "Index", "Dashboard")
    </li>
    <li class="@(ControllerName == "User" ? "active" : "")">
        <i class="mx-3 fas fa-user"></i>
        @Html.ActionLink("Quản lý tài khoản", "Index", "User")
    </li>
    <li class="@(ControllerName == "Post" ? "active" : "")">
        <i class="mx-3 fas fa-newspaper"></i>
        @Html.ActionLink("Quản lý bài viết", "Index", "Post")
    </li>
    <li class="@(ControllerName == "Category" ? "active" : "")">
        <i class="mx-3 fas fa-bars"></i>
        @Html.ActionLink("Quản lý chuyên mục", "Index", "Category")
    </li>
    <li class="@(ControllerName == "Fund" ? "active" : "")">
        <i class="mx-3 fas fa-funnel-dollar"></i>
        @Html.ActionLink("Hoạt động gây quỹ", "Index", "Fund")
    </li>
    <li class="@(ControllerName == "Setting" ? "active" : "")">
        <i class="mx-3 fas fa-cogs"></i>
        @Html.ActionLink("Thiết lập trang chủ", "Index", "Setting")
    </li>
</ul>