@model StudentWork.Models.Post
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <a href=""></a>
            <img src="~/Uploads/@Model.Image" alt=" " class="img-fluid">
        </div>
        <div class="col-8">
            <div class="small my-2">
                <span class="mx-3">
                    <i class="fas fa-user"></i>
                    @Model.User.Name
                </span>
                <span class="mx-3">
                    <i class="fas fa-clock"></i>
                    @Model.PublishDate
                </span>
                <span class="mx-3">
                    <i class="fas fa-folder"></i> 
                    @Model.Category.Name
                </span>
            </div>
            @if(HttpContextAccessor.HttpContext.Session.GetString("Name") == null) 
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Chỉnh sửa bài viết</a>
                </div>
            }
            <div class="my-3 h1 font-weight-bold">
                @Model.Name
            </div>
            <p>
                @Html.Raw(Model.Content)
            </p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <div class="bg-danger h2 p-3 font-weight-bold text-light">Bài viết cùng chuyên mục</div>
        <ul class="list-group">
            @foreach (var item in ViewBag.RelatedPosts)
            {
                <li class="list-group-item">
                    <a 
                        asp-controller="Post"
                        asp-action="Details"    
                        asp-route-id="@item.Id"
                    >
                        @item.Name
                    </a>
                    <hr />
                    <div class="small my-2">
                        <span class="mx-3">
                            <i class="fas fa-user"></i>
                            @Model.User.Name
                        </span>
                        <span class="mx-3">
                            <i class="fas fa-clock"></i>
                            @Model.PublishDate
                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-4">
        <partial name="_SocialPage" />
    </div>
</div>

