@model IEnumerable<StudentWork.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout/_DashboardLayout.cshtml";
}
<link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Uploads/@item.Image" style="width: 100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishDate)
                </td>
                <td>
                    <a href="/Category/Details/@item.CategoryId">
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Chỉnh sửa</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Chi tiết</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                language: {
                    processing: "Đang tải dữ liệu",
                    search: "Tìm kiếm: ",
                    lengthMenu: "Hiển thị _MENU_ ",
                    infoEmpty: "Khi không có dữ liệu",
                    zeroRecords: "Kết quả tìm kiếm không phù hợp",
                    emptyTable: "Không có dữ liệu",
                    paginate: {
                        first: "Trang đầu",
                        previous: "Trang trước",
                        next: "Trang sau",
                        last: "Trang cuối"
                    },
                },
                searching: true,
                ordering:  false,
                paging: true,
                scrollY: 560,
                processing: true,
                info: false,
            });
        });
    </script>
}
