@model StudentWork.Models.Category

@{
    ViewData["Title"] = "Chỉnh sửa chuyên mục";
    Layout = "~/Views/Shared/Layout/_DashboardLayout.cshtml";
}

<h1>
    @*@ViewData["Title"]</h1>*@

    <div>
        <h4>
            @Html.DisplayNameFor(model => model.Name) - @Html.DisplayFor(model => model.Name)
        </h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class="col-sm-8">
                <img src="~/Uploads/@Model.Image" style="width: 200px" /><br />
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>
    
   
    <div class="container">
        <div class="border mt-5">
            <div class="bg-primary h2 p-3 font-weight-bold text-light">Bài viết thuộc thể loại @Model.Name</div>
            <div class="px-2">
                <div class="alert alert-info my-2">
                    <span class="badge badge-pill badge-primary p-2">Thông báo</span>
                    <span class="badge badge-pill badge-secondary p-2">Chế độ chính sách</span>
                    <span class="badge badge-pill badge-success p-2">Học bổng</span>
                    <span class="badge badge-pill badge-danger p-2">Hoạt động sinh viên</span>
                </div>
                @foreach (var item in ViewBag.ListPostOfCategory)
                {
                    <div class="row my-2">
                        <div class="col-lg-4 col-12">
                            <a href="/Post/Details/@item.Id" style="text-decoration: none"><img class="img-fluid" src="~/assets/img/a1.jpg" /></a>
                        </div>
                        <div class="col-lg-8 col-12">
                            <h2><a href="/Post/Details/@item.Id" style="text-decoration: none">@item.Name</a></h2>
                            <p>
                                @Html.Raw(item.Content)
                            </p>
                        </div>
                    </div>
                    <hr />
                    @*@if (i != 9)
                    {
                        <div class="border border-bottom"></div>
                    }*@
                }
                
            </div>
            <ul class="pagination bg-light p-2 justify-content-end mb-0">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Chỉnh sửa</a> |
        <a asp-action="Index">Quay lại danh sách chuyên mục</a>
    </div>
