@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;
@model PaginatedList<StudentWork.Models.Post>
@{
    ViewData["Title"] = "Chỉnh sửa chuyên mục";
    Layout = "~/Views/Shared/Layout/_Layout.cshtml";
}
<style>
    .splash_img {
        /*position: relative*/
        color: white;
    }
    .banner-view {
        background-image: url(/Uploads/@ViewBag.Category.Image );
        height: 600px;
        position: relative;
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
    }
    .banner-info {
        position: absolute;
        bottom: 65px;
        left: 25px;
    }

    h5 {
        font-size: 50px;
        line-height: 55px;
    }

    p {
        font-family: 'Mukta', sans-serif;
        font-size: 20px;
        color: #f8f9fa;
        opacity: .8;
        letter-spacing: .5px;
    }
</style>

<div class="splash_img">
    <div class="banner-view">
        <div class="banner-info">
            <h5>@ViewBag.Category.Name</h5>
            <p id="description">
                @ViewBag.Category.Description
            </p>

            @*<a class="btn btn-style btn-primary mt-sm-5 mt-4" href="#url">
                    Read More
                </a>*@
        </div>
    </div>
</div>
<div class="container">
    <div class="border mt-5" id="post">
        <div class="bg-primary h2 p-3 font-weight-bold text-light">Bài viết thuộc thể loại @ViewBag.Category.Name</div>
        <div class="px-2">
            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                <div class="row my-2">
                    <div class="col-lg-4 col-12">
                        <a href='@Url.Action("Details", "Post", new { id = item.value.Id })'>
                            <img class="img-fluid" style="height: 200px;" src='@(item.value.Image != null ? "/Uploads/" +item.value.Image : "~/assets/img/a1.jpg")' />
                        </a>
                    </div>
                    <div class="col-lg-8 col-12">
                        <a class="h2" href='@Url.Action("Details", "Post", new { id = item.value.Id })'>
                            @item.value.Name
                        </a>
                        <p>
                            <div class="small">
                                <span class="mx-3">
                                    <i class="fas fa-user"></i>
                                    @item.value.User.Name
                                </span>
                                <span class="mx-3">
                                    <i class="fas fa-clock"></i>
                                    @item.value.PublishDate
                                </span>
                                <span class="mx-3">
                                    <i class="fas fa-folder"></i>
                                    @item.value.Category.Name
                                </span>
                            </div>

                            <div class="ml-3 my-2 text-muted">
                                @item.value.Content.Substring(3, 5)
                            </div>
                        </p>
                    </div>
                </div>
                @if (item.i == Model.PageIndex - 1)
                {
                    <div class="border-bottom"></div>
                }
            }

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

        </div>
        <ul class="pagination bg-light p-2 justify-content-end mb-0">
            <li class="page-item">
                <a asp-action="Index"
                   asp-fragment="post"
                   asp-route-pageNumber="@(Model.PageIndex - 1)"
                   class="page-link btn @prevDisabled">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a asp-action="Index"
                   asp-fragment="post"
                   asp-route-pageNumber="@(Model.PageIndex + 1)"
                   class="page-link btn @nextDisabled">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>

@if (HttpContextAccessor.HttpContext.Session.GetString("Name") != null)
{
    <div>
        <a asp-action="Edit" asp-route-id="@ViewBag.Category.Id" class="btn btn-secondary">Chỉnh sửa</a> |
        <a asp-action="Index">Quay lại danh sách chuyên mục</a>
    </div>
}

