@{
    ViewData["Title"] = "Phòng công tác sinh viên";
}
@model PaginatedList<StudentWork.Models.Post>

<div class="row">
    <div class="col-lg-4 col-12">
        <div class="card">
            <div class="h4 card-header bg-primary text-light">
                Thông tin nổi bật
            </div>
            @for(int i = 0; i < 3; i++ )
            {
                <div class="card m-3">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">
                            @(ViewBag.HotPosts.ContainsKey("ST_HotPosts_Title_" + i.ToString()) ? ViewBag.HotPosts["ST_HotPosts_Title_" + i.ToString()] : "")
                        </h5>
                        <p class="card-text text-muted small pl-3">
                            @(ViewBag.HotPosts.ContainsKey("ST_HotPosts_Description_" + i.ToString()) ? ViewBag.HotPosts["ST_HotPosts_Description_" + i.ToString()].Substring(0, 150) + "..." : "")
                        </p>
                        <a 
                            href='@(ViewBag.HotPosts.ContainsKey("ST_HotPosts_Link_" + i.ToString()) ? ViewBag.HotPosts["ST_HotPosts_Link_" + i.ToString()] : "")'
                            class="btn btn-primary"
                        >
                            <i class="fas fa-angle-double-right"></i> Xem chi tiết
                        </a>
                    </div>
                </div>
            }
        </div> 
    </div>

    <div class="col-lg-8 col-12">
        <a href='@(ViewBag.HotImageLink != null ? ViewBag.HotImageLink.Value : "")'>
            <img class="img-fluid" src='@(ViewBag.HotImage != null ? ViewBag.HotImage.Value : "~/assets/img/a1.jpg")' />
        </a>
    </div>
</div>

<div class="container">
    <div class="border mt-5" id="post">
        <div class="bg-primary h2 p-3 font-weight-bold text-light">Bài viết cập nhật</div>
        <div class="px-2">
            <div class="alert alert-info my-2">
                <span class="badge badge-pill badge-primary p-2">Thông báo</span>
                <span class="badge badge-pill badge-secondary p-2">Chế độ chính sách</span>
                <span class="badge badge-pill badge-success p-2">Học bổng</span>
                <span class="badge badge-pill badge-danger p-2">Hoạt động sinh viên</span>
            </div>
            @foreach(var item in Model.Select((value, i) => new { i, value }))
            {
                <div class="row my-2">
                    <div class="col-lg-4 col-12">
                        <a href='@Url.Action("Details", "Post", new { id = item.value.Id })'>
                            <img class="img-fluid" style="height: 200px;" src='@(item.value.Image != null ? "/Uploads/" +item.value.Image : "~/assets/img/a1.jpg")' />
                        </a>
                    </div>
                    <div class="col-lg-8 col-12">
                        <a class="h2" href='@Url.Action("Details", "Post", new { id = item.value.Id })'>
                            @item.value.Name
                        </a>
                        <p>
                            <div class="small">
                                <span class="mx-3">
                                    <i class="fas fa-user"></i>
                                    @item.value.User.Name
                                </span>
                                <span class="mx-3">
                                    <i class="fas fa-clock"></i>
                                    @item.value.PublishDate
                                </span>
                                <span class="mx-3">
                                    <i class="fas fa-folder"></i> 
                                    @item.value.Category.Name
                                </span>
                            </div>
                        </p>
                    </div>
                </div>
                @if(item.i != Model.PageIndex - 1)
                {
                    <div class="border border-bottom"></div>
                }
            }

            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

        </div>
        <ul class="pagination bg-light p-2 justify-content-end mb-0">
            <li class="page-item">
                <a
                    asp-action="Index"
                    asp-fragment="post"
                    asp-route-pageNumber="@(Model.PageIndex - 1)"
                    class="page-link btn @prevDisabled">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a
                    asp-action="Index"
                    asp-fragment="post"
                    asp-route-pageNumber="@(Model.PageIndex + 1)"
                    class="page-link btn @nextDisabled">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="row mt-5">
    <div class="col-lg-5">
        <div class="bg-danger h2 p-3 font-weight-bold text-light">Quan hệ doanh nghiệp</div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Việc làm Fulltime
                        <span class="badge badge-primary badge-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Việc làm Parttime
                        <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Thực tập sinh
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Sinh viên tìm việc
                        <span class="badge badge-primary badge-pill">1</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="row">
            <div class="col-lg-7">
                <partial name="_FundList" model="ViewBag.Funds" />
            </div>
            <div class="col-lg-5">
                <p>
                    <a href="https://apps.agu.edu.vn/drl/login" style="text-align: center;">
                        <img 
                            alt=""
                            src="https://sao.agu.edu.vn//sites/default/files/default_images/Untitled-1.jpg"
                            style="height:105px;"
                            class="img-fluid"
                        />
                    </a>
                </p>
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfwSycOjMM3rUMkBzh_15nxZ0aJ_O-0qxTK0RaG1c6rHXEKzw/viewform">
                        <img 
                            alt=""
                            src="https://sao.agu.edu.vn//sites/default/files/23146207_1344879738957126_1573850142_n.jpg"
                            style="height:105px;"
                            class="img-fluid"
                        />
                    </a>
                </p>
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfW_RqaZuYFe1hNMohJjq2Cz3g8D4ZJgMaYRvAzgcuX2T-uGw/viewform">
                        <img 
                            alt=""
                            src="https://sao.agu.edu.vn//sites/default/files/23163645_1345509845560782_1110001042_n.jpg"
                            style="height:105px;"
                            class="img-fluid"
                        />
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/Sao_AGU-251373751976738/">
                        <img 
                            alt=""
                            src="https://sao.agu.edu.vn//sites/default/files/23146307_1344892065622560_251256466_n.jpg"
                            style="height:105px;"
                            class="img-fluid"
                        />
                    </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/B%E1%BB%99-ph%E1%BA%ADn-H%E1%BB%97-tr%E1%BB%A3-Sinh-vi%C3%AAn-v%C3%A0-Quan-h%E1%BB%87-Doanh-nghi%E1%BB%87p-AGU-110693630296566/">
                        <img 
                            alt=""
                            src="https://sao.agu.edu.vn//sites/default/files/default_images/FB%20BP.jpg"
                            style="height:105px;"
                            class="img-fluid"
                        />
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var $el = $("#table-scroll");
        function anim() {
            var st = $el.scrollTop();
            var sb = $el.prop("scrollHeight")-$el.innerHeight();
            $el.animate({scrollTop: st < sb / 2 ? sb : 0}, 2000, anim);
        }
        function stop(){
            $el.stop();
        }
        anim();
        $el.hover(stop, anim);
    </script>
}